
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    font-size: 2.2rem;
    color: rgb(70, 70, 70);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 230, 230);
    position: sticky;
    padding: 0 20px 0 20px;
}

.nav .title {
    font-size: 1.2rem;
}

.center-nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(70, 70, 70);
    font-weight: 500;
}

.center-nav {
    display: flex;
    align-items: center;
    gap: 30px;
}


.right-nav {
    font-size: 1.2rem;
    height: 40px;
    width: 40px;
    background-color: rgb(212, 212, 212);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: rgb(70, 70, 70);
    cursor: pointer;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    margin-top: 2vh;
}

.add-item{
    padding: 6px 13px;
    border-radius: 50px;
    border: 1px solid gray;
    color: rgb(70, 70, 70);
    font-size: 15px;
}
.add-item:hover{
    background-color: rgb(230, 230, 230);
}

.top-bar .title {
    font-size: 1.2rem;
    color: rgb(70, 70, 70);
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    width: 25vw;
    height: 6vh;
    border: 1px solid gray;
    border-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: rgb(115, 115, 115);
    padding: 5px 20px 5px 20px;
    outline: none;
}

.search i {
    font-size: 1.2rem;
    color: rgb(70, 70, 70);
}

.icon-wrapper {
    height: 6vh;
    border: 1px solid rgb(115, 115, 115);
    width: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 230, 230);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.container{
    margin-top: 3vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    row-gap: 20px;
}

.item {
    background-color: rgb(235, 235, 235);
    width: 22vw;
    min-height: 70vh;
    height: fit-content;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding:10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1)
}

.item:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.item-image-container{
    height: 40vh;
    width: 20vw;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details {
    width: 100%;
}

.details p {
    font-size: 0.9rem;
    color: rgb(70, 70, 70);
}

.details h2 {
    font-size: 1.1rem;
    color: rgb(34, 34, 34);
}

.container-contact{
    margin: 5vh 50vh;
    border: 1px solid black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
#form-contact{
    display: flex;
    flex-direction: column;
    margin: 3vh;
    font-size: 1.2rem;
}

#heading-contact{
    margin-top: 3vh;
    text-align: center;
}

#form-contact input, button{
    height: 5vh;
}

#form-contact textarea{
    height: 20vh;
}

#form-contact button{
    border-radius: 3px;
    width: 30vh;
    margin: auto;
}

























/* login signup css */

.container-register {
    width: 100vw;
}

.form {
    width: 300px;
    margin: auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:5px;
    padding: 2vh;
    border-radius: 10px;
    margin-top: 20vh;
}

.form h2 {
    font-size: 1.5rem;
    color: rgb(70, 70, 70);
    margin-bottom: 10px;
}

.form input {
    width: 100%;
    height: 6vh;
    padding: 5px 10px 5px 10px
}

.form button {
    height: 6vh;
    background-color: black;
    border: none;
    color: white;
    margin-top: 10px;
}

.form-bottom {
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size:0.8rem;
    margin-top: 1vh;
}

.form-bottom a {
    text-decoration: none;
    color: rgb(70, 70, 70);
    font-weight: bolder;
}

.main-section {
    width:100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-image: url("https://img.freepik.com/free-photo/abstract-gray-oil-paint-textured-background_53876-129925.jpg?semt=ais_hybrid&w=740");
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
    padding-bottom: 30px;
}

.main-section h1 {
    font-size: 4rem;
    text-align: center;
}

.main-section p {
    text-align: center;
    font-size: 0.8rem;
}

.navigation-section  {
    width: 100%;
    display: flex;
    gap: 10vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.lost-section, .found-section {
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    letter-spacing: 1px;
    gap: 5vh;
    width: 40vw;
    height: 20vw;
    border-radius: 20px;
    padding: 5vh;
    background-color: rgb(230, 230, 230)
}

.navigation-section button {
    height: 10vh;
    font-size: 1.1rem;
}

.about-section {
    height: 50vh;
    width: 100%;
    padding: 5vw;
    text-align: center;
}

.about-section p {
    font-size: 0.9rem;
}

.footer p {
    text-align: center;

}

.footer {
    width: 100%;
    height: 10vh;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-form{
    width: 50vw;
    padding-right: 50px;
    padding-left: 50px;
    gap: 5vh;
    margin-top: 5vh;
}

.btn-anchor-home{
    width: 100%;
}

#section {
    width: 50%;
    height: 5vh;
}

#desc {
    padding: 10px;
}

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }